@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 46 90% 56%;
    --foreground: 0 0% 11%;

    --card: 0 0% 99%;
    --card-foreground: 0 0% 11%;

    --popover: 0 0% 99%;
    --popover-foreground: 0 0% 11%;

    --primary: 0 0% 11%;
    --primary-foreground: 0 0% 99%;

    --secondary: 0 0% 90%;
    --secondary-foreground: 0 0% 11%;

    --muted: 0 0% 90%;
    --muted-foreground: 0 0% 40%;

    --accent: 350 82% 35%;
    --accent-foreground: 0 0% 99%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --chart-1: 12 76% 61%;

    --chart-2: 173 58% 39%;

    --chart-3: 197 37% 24%;

    --chart-4: 43 74% 66%;

    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 0 0% 11%;
    --foreground: 0 0% 99%;

    --card: 0 0% 15%;
    --card-foreground: 0 0% 99%;

    --popover: 0 0% 15%;
    --popover-foreground: 0 0% 99%;

    --primary: 0 0% 99%;
    --primary-foreground: 0 0% 11%;

    --secondary: 0 0% 20%;
    --secondary-foreground: 0 0% 99%;

    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 60%;

    --accent: 350 82% 55%;
    --accent-foreground: 0 0% 99%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 0 0% 50%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html,
  body,
  #root {
    @apply h-full;
  }
  body {
    @apply bg-background text-foreground;
  }

  .clip-path-diagonal {
    clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 0% 100%);
  }
}
